
div.iimg img{
	display : block;
	margin : auto;
	border-radius : 20px 20px 0px 0px;
	width : 97%;
}

div.iimg p{
	font-size : 15px;
	color : #004d00;
	width : 90%;
}

div.iimg{
	display : inline-block;
	width : 45%;
	cursor : pointer;
	background-color : #e6d5b7; 
	border-radius : 25px;
	margin-bottom : 20px;
	transition : 0.3s;
	border : 0px solid red;
}

div.iimg:hover{
	padding : 0.01%;
	border : 5px solid #ffb366;
}

p.sfat{
	display : inline-block;
	background-color : #ffc994;
	border-radius : 84px 84px 10px 84px;
	padding : 3%;
	width : 45%;
	margin-left : 30px; 
	box-shadow : 1px 1px 20px 1px #c7b99e;
	border : 0px solid red;
	transition : 0.3s;
}

p.sfat:hover{
	border : 5px solid #ffb366;
}

p.tag{
	font-size : 12px; 
	display : inline-block;
	color : #004d00;
}

p.date {
	border-bottom : 5px solid #ffb366;
	text-indent: 0px;
}

a.ccutie{
	margin : auto;
	display: inline-block;
	background-color : #FFF5D2;
	cursor : pointer;
	border-radius : 22px;
	margin-bottom : 10px;
	margin-top : 10px;
	padding : 10px;
	transition : 0.3s;
}

img.om{
	display : relative;
	vertical-align: top;
	float : right;
	margin-top : 0px;
	object-fit : cover;
	width : 40%;
	object-position: 0px 5px;
}

#pers{
	background-color : #e6d5b7; 
	margin-top : 20px;
	border-radius : 50px;
	padding-left : 2%;
	padding-right : 2%;
	width : 80%;
	column-gap: 40px;
	display: flow-root;
	margin : auto;
}

#pers p {
	text-indent : 0px;
	display : inline-block;
}

a.ccutie:hover{
	background-color : #FFEEB0;
	padding-left :  2%;
	padding-right :  2%;
}

div.othproj{
	display : inline-block;
	padding : 1%;
	background-color : #69E733;
	border-radius : 20px;
	transition : 0.3s;
	cursor : pointer;
	width : 25%;
	margin-bottom : 30px;
}

div.othproj p{
	text-indent: 0px;
}

div.othproj img{
	width : 90%;
}

div.othproj:hover{
	background-color : #daee3f;
	padding : 1.5%;
}

#stillhere{
	display : inline-block;
	padding : 1%;
	background-color : #daee3f;
	border-radius : 20px;
	transition : 0.3s;
	width : 30%;
}

#stillhere:hover{
	padding : 1.2%;
}

@media only screen and (max-aspect-ratio: 1/1) {
		div.iimg{
		width : 90%;
	}
	
	p.sfat{
		border-radius : 20px;
		padding : 2%;
		width : 70%;
		float : none;
		margin-top : 0px;
	}

	img.om{
		display : block;
		margin-top : 20px;
		float : none;
		margin : auto;
		width : 60%;
		height : 200px;
	}

	p.tag{
		font-size : 10x; 
		display : inline;
		color : #004d00;
	}
	
	a.ccutie{
		width : 80%;
		overflow: hidden; 
	}
	
	div.othproj{
		width : 80%;
	}
	
	#stillhere{
		width : 90%;
	}
	
	p.date {
		width : 80%;
	}
	
}